html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #ccc;
}
.search__section {
  padding: 20px 0 20px 40px;
  display: flex;
}
.circle1,
.circle2,
.circle3 {
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 7px;
  box-shadow: 0px 0px 9px 5px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.circle2{
  margin: 0 15px;
}
.search__line {
  margin: 0 15px;
  padding: 0 5px;
  height: 15px;
  width: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 9px 5px rgba(34, 60, 80, 0.2);
  border: none;
  outline: none;
}
.header__disp {
  background-color: #fff;
  text-align: center;
  border: solid 1px #000;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.header__cart {
  display: inline-block;
  /* margin: 10px 40px;
  padding: 5px 15px; */
  height: 40px;
  padding: 10px 0;
  width: 100px;
  border: none;
  /* border: solid 1px #000; */
  /* border-radius: 12px; */
  z-index: 25;
  background-color: #ccc;
  transition: background-color 0.3s;
}
.header__cart.active:hover{
  cursor: pointer;
  background-color: rgba(93, 113, 221, 0.1);
}
.cart__quantity {
  /* display: none; */
  position: absolute;
  color: #fff;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  /* padding: 2px; */
  font-size: 10px;
  min-height: 15px;
  min-width: 15px;
  margin-top: -10px;
  border-radius: 100%;
  background-color: red;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;
}

.main {
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  background-size: 19px 19px;
  height: 89vh;
  background-position: center center;
}

.main__inner {
  padding: 100px 0;
}
.goods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.goods-item {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: solid 1px #000;
}
.goods-item img {
  border: solid 1px #000;
}
.product__button {
  text-align: right;
}
.product__button button{
  padding: 2px 5px;
  border: solid 1px #000;
  border-radius: 7px;
  cursor: pointer;
}